---
// Welcome.astro
import Header from "./Header.astro";
import CursosIsla from "./cursos";
import Footer from "./Footer.astro";
---

<Header />

<main class="main-content">
  <section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h2 class="hero-title">PROTAGONIZA TU PROPIA EVOLUCIÓN</h2>
      <p class="hero-text">
        ¿Cansado de que no te valoren ni te paguen lo que merecés?<br />
        ¿Sin oportunidades de ascenso o sin experiencia para empezar?<br />
        Sumate y transformá tu currículum con conocimientos reales.<br />
        Hacete deseable, elegí dónde crecer.<br />
        ¡Tu evolución empieza acá!
      </p>
    </div>
  </section>

  <section class="section-container">
    <h2>LO QUE OFRECEMOS</h2>
    <p>
      La mejor manera de cumplir tus objetivos es transformandote en un
      especialista en el rubro de la seguridad y para eso te ofrecemos una gama
      de cursos destinados a convertirte en el ideal de todas las empresas.
    </p>
  </section>

  <CursosIsla client:visible />
</main>

<Footer />
<style>
  .main-content {
    padding: 2rem 0;
    min-height: calc(100vh - 100px);
  }

  .hero {
    position: relative;
    background-image: url("../assets/SafeWarriorLogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 1rem;
  }

  .hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .hero-content {
    z-index: 2;
    text-align: justify;
    margin-left: 0.1rem;
    max-width: 100%;
  }

  .hero-title {
    font-size: 2rem; /* Adjusted for a larger size */
    color: #fff; /* Changed to white for a brighter look */
    font-weight: 800;
    overflow: auto;
    text-shadow:
      0 0 10px #f00,
      0 0 20px #f00; /* Added a subtle red glow for brilliance */
    -webkit-text-stroke: 0; /* Removed the black outline */
  }

  .hero-text {
    font-size: 1.1rem;
    line-height: 1.6;
    overflow: auto;
  }

  @media (max-width: 768px) {
    .hero {
      height: auto;
      padding: 4rem 1rem;
    }

    .hero-title {
      font-size: 1.8rem; /* Adjusted for smaller screens */
    }

    .hero-text {
      font-size: 1rem;
    }
  }

  .high {
    color: red;
  }
  .section-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .section-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .section-container p {
    font-size: 1.1rem;
    line-height: 1.6;
  }

  @media (width >= 700px) {
    .section-container {
      padding: 0 2rem;
    }
  }

  @media (width >= 1280px) {
    .section-container {
      padding: 0 3rem;
    }
  }
</style>
